name: CICD for Java application using maven

on: 
  push:
    branches: ['main']

jobs:
  build: 
    runs-on: ubuntu-latest
    steps:
# Setup java and getting code----------------------------------------------------
      - name: Code checkout
        uses: actions/checkout@v3
      - name: Java Setup
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
# Maven Build Starts--------------------------------------------------------------
      - name: Maven Validation
        run: mvn validate
      - name: Maven Compile
        run: mvn compile
      - name: Maven test
        run: mvn test
      - name: Maven Package
        run: mvn package 